<!doctype html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    img {
      width: 100%; /* Make images fill the container width */
      height: auto; /* Maintain aspect ratio */
    }

    /* Hide mobile image on desktop */
    .desktop-image {
      display: block;
    }

    .mobile-image {
      display: none;
    }

    /* CSS Media Query for Mobile Devices */
    @media screen and (max-width: 768px) { /* or another breakpoint */
      .desktop-image {
        display: none;
      }
      .mobile-image {
        display: block;
      }
    }
  </style>
</head>
<body>
  <!-- Desktop Image -->
  <div class="desktop-image">
    <a href="https://jameshardwarecn.com/products/ch304">
      <img
        src="https://cdn.shopify.com/s/files/1/0800/0798/7501/files/Frame_3_1_2048x2048.png?v=1704588540"
        alt="Desktop Dolphin Hook"
        width="2048"
        height="2048"
      >
    </a>
  </div>

  <!-- Mobile Image -->
  <div class="mobile-image">
    <a href="https://jameshardwarecn.com/products/ch304">
      <img
        src="https://cdn.shopify.com/s/files/1/0800/0798/7501/files/Frame_4_1.png?v=1704590205"
        alt="Mobile Dolphin Hook"
        width="768"
        height="768"
      >
    </a>
  </div>
</body>
