<style>
  .product-gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .product-image-wrapper {
    position: relative;
    display: inline-block;
  }

  .product__media {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
  }
</style>

<div class="product-gallery">
  {% for media in product.media %}
    {% if media.media_type == 'image' %}
      <div class="product-image-wrapper">
        <img
          src="{{ media | img_url: 'master' }}"
          alt="{{ media.alt | escape }}"
          loading="lazy"
          class="product__media"
        />
      </div>
    {% endif %}
  {% endfor %}
</div>