<div class="announcement-bar">
  <div class="announcement-bar__content">
    <p class="announcement-bar__text">{{ section.settings.announcement_text }}</p>
  <div class="announcement-bar__product-images">

      <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">

      
  </div>
  </div>
</div>

{% schema %}
{
  "name": "Announce",
  "settings": [
    { "type": "text", "id": "announcement_text", "label": "Announcement Text" },
    { "type": "product", "id": "product_selection", "label": "Product Selection" }
  ], 
  "enabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Announcement Bar Simplified",
      "settings": {
        "announcement_text": "Announcement Text"
      }
    }
  ]
}
{% endschema %}
