//This is a simplified version of the announcement bar that is used on the home page for shopify development

<div class="announcement-bar">
  <div class="announcement-bar__content">
    <p class="announcement-bar__text">{{ section.settings.announcement_text }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Announcement Bar Simplified",
  "settings": [
    { "type": "text", "id": "announcement_text", "label": "Announcement Text" }
  ]
}
{% endschema %}
