{% schema %}
{
    "name": "PDF Download",
    "settings": [],
    "presets": [
        {
            "name": "PDF Download",
            "category": "Custom"
        }
    ]
}
{% endschema %}

{% stylesheet %}
  .section-half {
      height: 50vh;
      background-color: #f2f2f2;
  }
{% endstylesheet %}

<style>
  .section-half {
      padding: 20px 60px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
</style>

<!--
  This is a comment
  Door Handle	https://drive.google.com/file/d/1Ay4m50uR-9WiSNIxkJAgO3gDwvys-eNm/view?usp=drive_link
  House Number	https://drive.google.com/file/d/1sEo61D-zZX1BJn8dvROZx-gpbhiI6ael/view?usp=drive_link
  Handle	https://drive.google.com/file/d/1AUVWCxK6vcWhz33z4OB0wcIOZSVw0zY5/view?usp=drive_link
  Coat Hook	https://drive.google.com/file/d/1i_mkK5-mUtLOUn09Y_Sh9019iyKPichy/view?usp=drive_link
  Glass Clip	https://drive.google.com/file/d/15QMXPgK8bYUsR-LRNWZ0biWiW86D96y-/view?usp=drive_link
  Door Accessories	https://drive.google.com/file/d/13UedoPx_YNnJXBe3bVvOig9-k-Mc4v2G/view?usp=drive_link
  New Products	https://drive.google.com/file/d/1_fQlsnXSncHFeqA6asIX0qkj4DD52VKe/view?usp=drive_link
-->
<div class="section-half">
  <h1>PDF Catalog Available for Download</h1>
  <div class="grid-container">
    <div>
      <a href="">
        <img src="image1.jpg" alt="Updated Image 1">
      </a>
      <p>Text 1</p>
    </div>
    <div>
      <a href="link2.html">
        <img src="image2.jpg" alt="Updated Image 2">
      </a>
      <p>Text 2</p>
    </div>
    <div>
      <a href="link3.html">
        <img src="image3.jpg" alt="Updated Image 3">
      </a>
      <p>Text 3</p>
    </div>
    <div>
      <a href="link4.html">
        <img src="image4.jpg" alt="Updated Image 4">
      </a>
      <p>Text 4</p>
    </div>
    <div>
      <a href="link5.html">
        <img src="image5.jpg" alt="Updated Image 5">
      </a>
      <p>Text 5</p>
    </div>
    <div>
      <a href="link6.html">
        <img src="image6.jpg" alt="Updated Image 6">
      </a>
      <p>Text 6</p>
    </div>
    <div>
      <a href="link7.html">
        <img src="image7.jpg" alt="Updated Image 7">
      </a>
      <p>Text 7</p>
    </div>
  </div>
</div>
