.shoppingcart-box .actions button:hover,
.shoppingcart-box .actions button:active,
.shoppingcart-box .actions button:focus{
	border-color: #7ebbac;
	color: #7ebbac;
}
.dropdown-menu.shoppingcart-box {    
    border-color:#7ebbac;
}
.shoppingcart-box .actions button {
    background: #7ebbac none repeat scroll 0 0;
    border-color: #7ebbac;
}
.shoppingcart-box .summary .price {
    color: #7ebbac;    
}
.jms-megamenu .mega-nav li > a:hover, 
.jms-megamenu .mega-nav li > span:hover{
	color: #7ebbac;
}
.setting-top .setting-block li > a:hover,
.setting-top .setting-block li > a.selected {
    color: #7ebbac;
}
.box.ajax_cart_quantity {
    background: #7ebbac none repeat scroll 0 0;
}
.header-4 .topbar .btn-group.open > .dropdown-menu {
  border-bottom: 2px solid #7ebbac;
}
.header-top .dropdown-menu > li > a:focus, 
.header-top .dropdown-menu > li > a:hover{
	color: #7ebbac;
}
.header-top .dropdown-menu::after {
    background: #7ebbac none repeat scroll 0 0;
}
.home-4 .fs-pager-wrapper a.active::after, .home-4 .fs-custom-pager-wrapper a.active::after {
  border: 1px solid #7ebbac;
}
.flex-control-nav a.flex-active {
    background: #7ebbac none repeat scroll 0 0 !important;
}
.slide-des .slide-button:hover {
  border:1px solid #7ebbac;
  background:#7ebbac;
}
.services-content em::after {
  background: #7ebbac none repeat scroll 0 0;
}
.services-content em {
  border: 2px solid #7ebbac;
}
.home-4 .services-content em {
  color: #7ebbac;
}
.home-4 .services-content:hover em {
  border-color: #7ebbac;
}
.product-info h3.title a:hover{color: #7ebbac;}
.home-4 .wrapper-bottom-banner h5 {
  color: #7ebbac;
}
.blog-item:hover .blog-info .post-title > a {
	color: #7ebbac;
}
.wraper-newsletter .input-group-addon .button {
  color: #7ebbac;
}
.footer-navbar .menu-footer li a:hover{color: #7ebbac;}
.find-us .divider:hover {
    border-color: #7ebbac;
}
.find-us .divider:hover a {
	color: #7ebbac;
}
#block_contact_infos a:hover {
    color: #7ebbac;
}
.coppy-right .block-content > p a {
    color: #7ebbac;
}
.left-banner .box-content > p span {
    color: #7ebbac;
}
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
    border-color: #7ebbac;
    color: #7ebbac;
}
.pagination > li > a:focus, 
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    border-color: #7ebbac;
    color: #7ebbac;
}
#pagination_next > a:focus,
#pagination_next > a:hover,
#pagination_previous > span:hover,
#pagination_next > span:hover,
#pagination_previous > span:focus,
#pagination_next > span:focus,
#pagination_previous > a:hover,
#pagination_previous > a:focus{
    border-color: #7ebbac;
    color: #7ebbac;
}
.view-modes a.active, .view-modes a:hover {
    border-color: #7ebbac;
    color: #7ebbac;
}
.contact_address .fa {
	color: #7ebbac;
}
.quantity-cart .add-to-cart-btn { 
   	background: #7ebbac none repeat scroll 0 0;
    border-color: #7ebbac;
}
#more_info_block .nav-tabs li.active a, #more_info_block .nav-tabs li:hover a {
    color: #7ebbac;
}
.spr-form-actions .spr-button-primary:hover {
	background:#7ebbac;
}
.fs-pager-wrapper a.active, .fs-custom-pager-wrapper a.active {
    background: #7ebbac none repeat scroll 0 0 !important;
}
.slide-button::after {
  background: #7ebbac none repeat scroll 0 0;
}
.owl-theme .owl-controls .owl-nav div.owl-next:hover, 
.owl-theme .owl-controls .owl-nav div.owl-prev:hover{
	border-color: #7ebbac;
}
.owl-theme .owl-controls .owl-nav div.owl-next:hover::before,
.owl-theme .owl-controls .owl-nav div.owl-prev:hover::before{
	color: #7ebbac;
}
.jms-megamenu .nav > li > a::after, .jms-megamenu .nav > li > a::after {
    background: #7ebbac none repeat scroll 0 0;
}
.jms-megamenu .dropdown-menu .mega-dropdown-inner {
  border-bottom: 3px solid #7ebbac;
}
.jms-slider-wrapper .slide-button::before {
  background: #7ebbac none repeat scroll 0 0!important;
}
.jms-slider-wrapper .fs-pager-wrapper a.active, .jms-slider-wrapper .fs-custom-pager-wrapper a.active {
  background: #7ebbac none repeat scroll 0 0 !important;
}