@media (max-width: 1800px){
	.topbar-right {
		display: inline-block;
		float: right;
		padding: 0;
		text-align: right;
		width: auto;
	}
   .topbar-center {
      display: inline-block;
      float: none;
      width: auto;
	}
  	.flexslider .slides img {
      	width:100%;
    }
}
@media (max-width: 1500px){
	.slide-des .slide-heading {
      	letter-spacing:-3px;
      	font-size:60px!important;
      	padding-bottom:20px!important;
    }
  	.slide-text {
      	font-size:16px!important;
      	margin-bottom:30px!important;
    }
}
@media (max-width: 1260px){
	
}
@media (max-width: 1199px){
  .dropdown-menu.shoppingcart-box {
      right: -55px;
   }
  header.header-1 {
    padding: 48px 10px;
  }
  .home-2 .box-home-banner-right-2 .box-content > p span{
		font-size: 80px;
	}
	.home-2 .box-home-banner-right-2 .wrapper-banner{
		min-height: 205px;
	}
	.home-2 .box-home-banner-right.box-home-banner-right-1 {
		margin-bottom: 22px;
	}
}
@media (max-width: 1170px){
	
}
@media (max-width: 991px) {
  	.template-index footer {
   	 	position: static;
	}
  	.template-index .home-content {
      margin-bottom: 0;
    }
  	.home-2 .box-content > p{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.home-2 .box-home-banner-right-2 .wrapper-banner {
		min-height: 155px;
	}
	.home-2 .box-home-banner-right-2 .box-content > p{
		font-size: 15px;
	}
	.home-2 .box-home-banner-right-2 .box-content > p span {
		font-size: 45px;
		line-height: 45px;
	}
	.home-2 .box-home-banner-right.box-home-banner-right-1 {
		margin-bottom: 16px;
	}
	.topbar-right,
	.header-position.topbar-center{
		vertical-align: top;
	}	
	.box-content > p {
		font-size: 23px;
	}	
  	.topbar-center {
      	float:right;
        margin-left:30px; 
      	padding:0px;
    }
  	.slide-des .slide-heading {
      	font-size:40px!important;
      	letter-spacing:0px;
    }
  	.slide-text {
      	font-size:14px!important;
      	margin-bottom:20px;
    }
  	#open-button {
      	margin-top:0;
    }
}
@media (min-width: 768px) and (max-width: 991px){
	
}
@media (max-width: 767px){
  .ajax-success-modal .ajax-left {
    float: none;
  }
  .ajax-success-modal .actions button{
  	padding: 8px 14px;
  }
  .ajax-success-modal .ajax-right {
 	 margin-left: 0;
  }
  .ajax-success-modal .content {
    margin-left: -150px;
    margin-top: -125px;
    padding: 25px 15px 15px;
    width: 300px;
  }
  .ajax-success-modal .ajax-product-image{
  	max-height: 110px!important;
  }
  .container.page-content {
    margin-bottom: 50px;
    margin-top: 35px;
  }
  .product-img-box {
    padding-right: 15px;
  }
  .product-shop .product-title {
    margin-top: 30px;
  }
  .section-social .content p {
    padding: 0 20px;
  }
  .home-2 .home-banner .row > div > div {
		margin-bottom: 30px;
	}
	.home-2 .home-banner .row > div > div.row {
		margin-bottom: 0;
	}
	.services-box {
		margin-bottom: 77px;
	}
	.services-box:last-child{
		margin-bottom: 0;
	}
	.section-services{
		padding: 130px 0 80px;
	}
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}  	
	.home-banner-section {
		margin-top: 40px;
		padding: 0 10px 40px;
	}
  	.section-instagram {
    	padding: 40px 10px;
	}
  	.wraper-newsletter .input-group {
		width: 100%;
	}
	.newsletter-input .form-control {
		min-width: 100%;
	}
  	.footer-navbar .menu-footer li a {
      	padding:0px 5px;
    }
  	.slide-des .slide-heading {
      	letter-spacing:0px;
      	font-size:25px!important;
      	padding-bottom:10px!important;
    }
  	.slide-text {
      	font-size:12px!important;
      	margin-bottom:10px!important;
    }
}
@media (max-width: 600px){	
  	.slide-text {
      	display:none;
    }
  	.slide-des .slide-button {
      	padding:6px 20px;
    }
}
@media (max-width: 480px) {	
  	.search-block input.form-control {
      min-width: 300px;
    }
    .quantity-cart label {
      clear: both;
      display: block;
      float: none;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  	header.header-1 {
 	 	padding: 90px 10px 48px;
	}
  	.action-block {
      width: 50%;
    }
  	.topbar-right {
      width: 50%;
    }
  	.navbar-logo {
      position: absolute;
      top: 35px;
    }
	.home-banner-left,
	.box-home-banner-left-50,
	.box-home-banner-left-30,
	.home-banner-right{
		width: 100%;
	}
  	.navbar-logo {
      	margin-bottom: 20px;
    	text-align: center;
    	width: 100%;
    }
  	.topbar-right {
      	float:left;
    }
}