<div class="home-content">
{% include 'homepage-sliderlayer' %}
{% include 'homepage-banners' %}  
{% include 'homepage-new-products' %}
{% include 'homepage-services' %}
{% if settings.footer_blog_enable %} 
	{% include 'homepage-blog' %}    
{% endif %}
{% include 'homepage-featured-products' %}
<div class="section-social">
{% include 'footer-social' %}
</div>
</div>